[Unit]
Description=Matrix API Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Documents/MatrixAPI/API.py
WorkingDirectory=/home/pi/Documents/MatrixAPI
Restart=always
User=matrix

[Install]
WantedBy=multi-user.target